rgoers/log4j2-core/src/main/resources/Log4J-V2.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.

-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" type="configurationType"/>
  <xs:complexType name="configurationType">
    <xs:sequence>
      <xs:element type="propertiesType" name="properties"/>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element type="filtersType" name="filters"/>
        <xs:element type="filterType" name="filter"/>
      </xs:choice>
      <xs:element type="appendersType" name="appenders"/>
      <xs:element type="loggersType" name="loggers"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="packages"/>
    <xs:attribute type="xs:string" name="status"/>
    <xs:attribute type="xs:string" name="strict"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="propertyType" name="property"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="appenderType">
    <xs:sequence>
      <xs:element type="layoutType" name="layout" minOccurs="0"/>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element type="filtersType" name="filters"/>
        <xs:element type="filterType" name="filter"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="fileName" use="optional"/>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:sequence>
      <xs:element type="appender-refType" name="appender-ref" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="level"/>
  </xs:complexType>
  <xs:complexType name="propertyType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="KeyValuePairType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="key"/>
        <xs:attribute type="xs:string" name="value"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="appendersType">
    <xs:sequence>
      <xs:element type="appenderType" name="appender" maxOccurs="unbounded" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="appender-refType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="ref" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="loggerType">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="1">
        <xs:element type="filtersType" name="filters"/>
        <xs:element type="filterType" name="filter"/>
      </xs:choice>
      <xs:element type="appender-refType" name="appender-ref"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="required"/>
    <xs:attribute type="xs:string" name="level" use="optional"/>
    <xs:attribute type="xs:string" name="additivity" use="optional"/>
  </xs:complexType>
  <xs:complexType name="filterType" mixed="true">
    <xs:sequence>
      <xs:element type="KeyValuePairType" name="KeyValuePair" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
    <xs:attribute type="xs:string" name="level" use="optional"/>
    <xs:attribute type="xs:string" name="marker" use="optional"/>
    <xs:attribute type="xs:string" name="onMatch" use="optional"/>
    <xs:attribute type="xs:string" name="onMismatch" use="optional"/>
  </xs:complexType>
  <xs:complexType name="filtersType">
    <xs:sequence>
      <xs:element type="filterType" name="filter" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="loggersType" mixed="true">
    <xs:sequence>
      <xs:element type="loggerType" name="logger" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="rootType" name="root" maxOccurs="1" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="layoutType" mixed="true">
    <xs:sequence>
      <xs:element type="xs:string" name="pattern" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="required"/>
    <xs:attribute type="xs:string" name="pattern" use="optional"/>
  </xs:complexType>
</xs:schema>